body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    background-image: url('pictures/back.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    opacity: 0.8;
}

header {
    background-color: rgba(0, 56, 179, 0.8);
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo-background {
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 50px;
    height: auto;
}

.site-name {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#lang-switch {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #002d60;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 2rem;
    text-align: center;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #003d80;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.small-icon {
    max-width: 20px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #003d80;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #002d60;
}
